Repository slackapi/python-slack-sdk, pull requests merged in 2020-04, with the labels that each got.

#555 Use a non-mutable default headers argument
  slack/web/base_client.py
Labels: Priority: Medium, Version: 2x, bug

#606 Allow running RTM over a thread
  slack/rtm/client.py
Labels: Priority: High, Version: 2x, area:concurrency

#646 Fix a code snippet in RTM document
  docs-src/real_time_messaging.rst
  docs/.buildinfo
  docs/real_time_messaging.html
Labels: Version: 2x, docs, rtm-client

#647 #640 Update the rate_limited error handling code snippet
  docs-src/basic_usage.rst
Labels: Version: 2x, docs, web-client

#648 Fix #503 improve the document to be clearer about embedding user ID
  .gitignore
  docs-src/real_time_messaging.rst
Labels: Version: 2x, docs, rtm-client

#651 Update documents to be up-to-date and valid
  .gitignore
  README.md
  docs-src/basic_usage.rst
  docs-src/conversations.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  tests/samples/basic_usage/channels.py
  tests/samples/basic_usage/emoji_reactions.py
  tests/samples/basic_usage/sending_a_message.py
  tests/samples/basic_usage/uploading_files.py
  tests/samples/basic_usage/users.py
  tests/samples/basic_usage/views.py
  tests/samples/conversations/create_private_channel.py
  tests/samples/conversations/list_conversations.py
  tests/samples/conversations/open_dm.py
  tests/samples/readme/async_function_in_framework.py
  tests/samples/readme/async_script.py
  tests/samples/readme/proxy.py
  tests/samples/readme/rtm_client_basics.py
  tests/samples/readme/sending_messages.py
  tests/samples/readme/uploading_files.py
Labels: Version: 2x, docs, rtm-client, web-client

#657 Fix #655 Tutorial documentation: "im:write" scope needed
  tutorial/01-creating-the-slack-app.md
Labels: docs

#656 Fix #594 preview_image for files.remote.add API method is not properly supported
  integration_tests/web/test_issue_594.py
  slack/web/client.py
Labels: Version: 2x, bug, web-client

#661 Fix #660 channel_ids in admin.users.invite calls doesn't work
  slack/web/client.py
Labels: bug

#663 Add a test demonstrating how to use response.data ref #559
  tests/web/test_slack_response.py
Labels: Version: 2x, web-client
