Repository slackapi/python-slack-sdk, pull requests merged in 2020-09, with the labels that each got.

#796 Fix a link to the Static options documentation
  slack/web/classes/elements.py
Labels: Version: 2x, docs, web-client

#795 Fix 794: Add admin.conversations.* API methods
  integration_tests/env_variable_names.py
  integration_tests/web/test_admin_conversations.py
  integration_tests/web/test_admin_conversations_restrictAccess.py
  slack/web/async_client.py
  slack/web/client.py
  tests/web/test_web_client_coverage.py
Labels: Version: 2x, enhancement, web-client

#810 Only set default filename in files_upload if file is an instance of str
  slack/web/async_client.py
  slack/web/client.py
Labels: Version: 2x, bug, semver:patch, web-client

#812 version 2.9.0 release
  docs-src/changelog.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x, semver:minor, web-client

#815 Fix or skip DeepSource warnings
  .coveragerc
  .deepsource.toml
  slack_sdk/errors/__init__.py
  slack_sdk/models/attachments/__init__.py
  slack_sdk/models/basic_objects.py
  slack_sdk/models/blocks/__init__.py
  slack_sdk/models/blocks/basic_components.py
  slack_sdk/models/blocks/block_elements.py
  slack_sdk/models/blocks/blocks.py
  slack_sdk/models/dialoags/__init__.py
  slack_sdk/models/messages/message.py
  slack_sdk/models/views/__init__.py
  slack_sdk/rtm/__init__.py
  slack_sdk/signature/__init__.py
  slack_sdk/web/base_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_base_client.py
  slack_sdk/web/legacy_slack_response.py
Labels: Version: 3x, tests

#817 [v3] Update GitHub templates and README
  .github/ISSUE_TEMPLATE/02_enhancement.md
  .github/ISSUE_TEMPLATE/03_document.md
  .github/pull_request_template.md
  README.md
Labels: Version: 3x, docs

#818 [v3] Add the initial version of v3 docs
  .deepsource.toml
  docs-src-v3/.gitignore
  docs-src-v3/_themes/slack/conf.py
  docs-src-v3/_themes/slack/layout.html
  docs-src-v3/_themes/slack/localtoc.html
  docs-src-v3/_themes/slack/relations.html
  docs-src-v3/_themes/slack/sidebar.html
  docs-src-v3/_themes/slack/static/default.css_t
  docs-src-v3/_themes/slack/static/docs.css_t
  docs-src-v3/_themes/slack/static/pygments.css_t
  docs-src-v3/_themes/slack/theme.conf
  docs-src-v3/about.rst
  docs-src-v3/auth.rst
  docs-src-v3/basic_usage.rst
  docs-src-v3/conversations.rst
  docs-src-v3/faq.rst
  docs-src-v3/index.rst
  docs-src-v3/installation/index.rst
  docs-src-v3/metadata.rst
  docs-src-v3/oauth/index.rst
  docs-src-v3/real_time_messaging.rst
  docs-src-v3/v3-migration/index.rst
  docs-src-v3/web/index.rst
  docs-src-v3/webhook/index.rst
  docs-v3.sh
  setup.py
Labels: Version: 3x, docs

#822 Fix proxy issue reported at #820 #821
  slack/web/base_client.py
  slack/webhook/client.py
Labels: Version: 2x, bug, web-client

#823 version 2.9.1 release
  docs-src/changelog.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x, semver:patch, web-client
