Repository slackapi/python-slack-sdk, pull requests merged in 2020-06, with the labels that each got.

#710 Fix #536 Allow Tokens to be specified per request
  integration_tests/samples/oauth/oauth_v2.py
  integration_tests/web/test_web_client.py
  slack/web/base_client.py
  tests/web/test_web_client.py
Labels: Version: 2x, enhancement, v2.7-in-progress, web-client

#709 Fix #708 default_to_current_conversation in (multi_)conversations_select
  integration_tests/samples/basic_usage/views_default_to_current_conversation.py
  slack/web/classes/elements.py
  tests/web/classes/test_elements.py
Labels: Version: 2x, enhancement, v2.7-in-progress, web-client

#704 Fix #695 by adding Calls API support
  integration_tests/web/test_admin_usergroups.py
  integration_tests/web/test_calls.py
  slack/web/base_client.py
  slack/web/classes/blocks.py
  slack/web/client.py
  tests/web/classes/test_blocks.py
  tests/web/mock_web_api_server.py
  tests/web/test_web_client_coverage.py
Labels: Version: 2x, enhancement, v2.7-in-progress, web-client

#707 Fix #270 by adding a new module for incoming webhook and response_url
  integration_tests/env_variable_names.py
  integration_tests/webhook/test_webhook.py
  slack/__init__.py
  slack/web/__init__.py
  slack/web/base_client.py
  slack/web/client.py
  slack/webhook/__init__.py
  slack/webhook/client.py
  slack/webhook/webhook_response.py
  tests/webhook/mock_web_api_server.py
  tests/webhook/test_webhook.py
Labels: Version: 2x, enhancement, v2.7-in-progress, web-client

#711 version 2.7.0 release
  docs-src/changelog.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x, v2.7-in-progress

#713 Use SSL context with sychronous requests
  README.md
  slack/web/base_client.py
Labels: Version: 2x, bug, web-client

#715 Fix #714 by adding proxy support for sync WebClient
  README.md
  integration_tests/samples/issues/issue_714.py
  integration_tests/web/test_issue_714.py
  slack/web/base_client.py
Labels: Version: 2x, bug, web-client

#716 Fix #712 by adding timeout arg support in sync WebClient/WebhookClient
  slack/web/base_client.py
  slack/webhook/client.py
  tests/web/mock_web_api_server.py
  tests/web/test_web_client.py
  tests/webhook/mock_web_api_server.py
  tests/webhook/test_webhook.py
Labels: Version: 2x, bug, web-client

#717 version 2.7.1
  docs-src/_themes/slack/layout.html
  docs-src/changelog.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x

#724 Set a specific range of test dependency versions to make builds more stable
  setup.py
Labels: Version: 2x, tests

#723 Text params at "InputBlock" and "View"
  slack/web/classes/blocks.py
  slack/web/classes/views.py
Labels: Version: 2x, bug, web-client

#725 Only require pytest_runner if tests are run
  setup.py
Labels: tests

#726 Fix "InputBlock" hint validation
  slack/web/classes/blocks.py
  tests/web/classes/test_blocks.py
Labels: Version: 2x, bug, web-client

#730 Fix #728 by adding bytearray support in files_upload (sync mode)
  integration_tests/web/test_issue_728.py
  slack/web/base_client.py
Labels: Version: 2x, bug, web-client

#731 version 2.7.2
  docs-src/changelog.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x
