Repository slackapi/python-slack-sdk, pull requests merged in 2020-10, with the labels that each got.

#825 Replace master branch with main in docs
  docs-src/_themes/slack/sidebar.html
  docs-src/metadata.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
Labels: Version: 2x, docs

#824 Correct the text validation in header blocks
  slack/web/classes/blocks.py
  tests/web/classes/test_blocks.py
Labels: Version: 2x, bug

#832 [#830] Clarify channel type in v3 docs for Running the App
  tutorial/04-running-the-app.md
Labels: docs

#831 [#830] Clarify channel type in docs for Running the App
  tutorial/04-running-the-app.md
Labels: docs

#834 Pick #833 for v3 branch
  slack/web/base_client.py
  slack/webhook/client.py
  slack_sdk/web/base_client.py
  slack_sdk/web/legacy_base_client.py
  tests/slack_sdk/web/mock_web_api_server.py
  tests/slack_sdk/web/test_web_client_issue_829.py
  tests/slack_sdk/webhook/mock_web_api_server.py
  tests/slack_sdk/webhook/test_webhook.py
  tests/slack_sdk_async/web/test_async_web_client.py
  tests/slack_sdk_async/web/test_web_client_issue_829.py
  tests/web/mock_web_api_server.py
  tests/web/test_async_web_client.py
  tests/web/test_web_client.py
  tests/webhook/mock_web_api_server.py
  tests/webhook/test_webhook.py
Labels: Version: 3x, bug, web-client

#836 [v3] Update the tutorial to be up-to-date with v3
  tutorial/03-responding-to-slack-events.md
  tutorial/PythOnBoardingBot/app.py
  tutorial/PythOnBoardingBot/async_app.py
  tutorial/PythOnBoardingBot/onboarding_tutorial.py
  tutorial/PythOnBoardingBot/requirements.txt
  tutorial/README.md
Labels: Version: 3x, docs

#839 Fix #838 by adding three missing API methods
  integration_tests/web/test_issue_838.py
  slack/web/async_client.py
  slack/web/client.py
  tests/web/test_web_client_coverage.py
Labels: Version: 2x, enhancement, web-client

#842 [v3] Applies the changes in #839 to v3 branch
  integration_tests/web/test_issue_838.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: Version: 3x, enhancement, web-client

#843 [v3] Add Dispatch Action in Block Kit #841
  slack_sdk/models/blocks/basic_components.py
  slack_sdk/models/blocks/block_elements.py
  slack_sdk/models/blocks/blocks.py
  tests/slack_sdk/web/classes/test_blocks.py
  tests/slack_sdk/web/classes/test_elements.py
Labels: Version: 3x, enhancement, web-client

#844 Add Dispatch Action in Block Kit #841
  slack/web/classes/blocks.py
  slack/web/classes/elements.py
  slack/web/classes/objects.py
  tests/web/classes/test_blocks.py
  tests/web/classes/test_elements.py
Labels: Version: 2x, enhancement, web-client

#845 version 2.9.2 release
  docs-src/changelog.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x

#850 Fixed view_* methods to allow using View model
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
Labels: Version: 3x, bug, web-client

#852 Set default_type for HeaderBlock text
  slack/web/classes/blocks.py
Labels: Version: 2x, Version: 3x, bug

#857 Fix #846 RTMClient does not pass timeout value to WebClient
  slack/rtm/client.py
Labels: Version: 2x, bug, rtm-client

#856 version 2.9.3 release
  docs-src/changelog.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x

#861 Travis CI: Add Python 3.9 to the testing
  .travis.yml
Labels: Version: 3x, tests

#862 Add admin.users.session.list API support
  integration_tests/web/test_admin_users.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: Version: 3x, enhancement, web-client
