Repository slackapi/python-slack-sdk, pull requests merged in 2020-05, with the labels that each got.

#666 Correct type hints for extract_json method
  slack/web/classes/__init__.py
  tests/web/classes/test_init.py
Labels: Version: 2x, docs, v2.6 in-progress, web-client

#673 Fix #672 files.upload fails with a filepath containing multi byte chars
  codecov.yml
  integration_tests/web/test_issue_672.py
  slack/web/base_client.py
  slack/web/client.py
  tests/data/日本語.txt
Labels: Version: 2x, bug, v2.6 in-progress, web-client

#667 Fix #558 #619 by revising RTMClient to accept simultaneous incoming messages
  integration_tests/rtm/test_issue_558.py
  slack/rtm/client.py
Labels: Version: 2x, bug, rtm-client, v2.6 in-progress

#677 Fix rendering of DateLink objects
  slack/web/classes/objects.py
  tests/web/classes/test_objects.py
Labels: Version: 2x, bug, v2.6 in-progress, web-client

#671 Fix #670 by removing all None values from dict
  integration_tests/web/test_issue_670.py
  slack/web/base_client.py
Labels: Version: 2x, bug, v2.6 in-progress, web-client

#680 Fix #650 Deprecation warnings to channels/groups/mpim/im API method calls
  slack/web/__init__.py
  slack/web/base_client.py
  tests/web/test_web_client_coverage.py
Labels: Version: 2x, v2.6 in-progress, web-client

#678 Change list args to be either str or list in a consistent manner
  slack/web/client.py
  tests/web/test_web_client_coverage.py
Labels: Version: 2x, v2.6 in-progress, web-client

#681 Fix #560 Allow bool kwargs
  integration_tests/web/test_issue_560.py
  slack/web/__init__.py
  slack/web/base_client.py
  tests/web/test_web_client.py
Labels: Version: 2x, v2.6 in-progress, web-client

#683 Fix the lint errors reported by latest flake8
  slack/web/classes/dialog_elements.py
Labels: Version: 2x, web-client

#682 Add admin.usergroups.* API support
  integration_tests/env_variable_names.py
  integration_tests/web/test_admin_usergroups.py
  slack/web/client.py
  tests/web/test_web_client_coverage.py
Labels: Version: 2x, enhancement, web-client

#659 Complete sets of Block Kit components & views support #639 #632 #519
  .gitignore
  slack/web/classes/__init__.py
  slack/web/classes/blocks.py
  slack/web/classes/elements.py
  slack/web/classes/objects.py
  slack/web/classes/views.py
  tests/web/classes/test_blocks.py
  tests/web/classes/test_elements.py
  tests/web/classes/test_init.py
  tests/web/classes/test_objects.py
  tests/web/classes/test_views.py
Labels: Priority: High, Version: 2x, bug, enhancement, semver:minor, web-client

#679 Fix #611 - stop propagating user exceptions to the connection management layer
  slack/rtm/client.py
Labels: Version: 2x, bug, rtm-client, v2.6 in-progress

#662 Revised sync mode WebClient/RTMClient to address concurrency issues
  integration_tests/rtm/test_issue_530.py
  integration_tests/rtm/test_issue_569.py
  integration_tests/rtm/test_issue_605.py
  integration_tests/rtm/test_issue_631.py
  integration_tests/samples/issues/issue_497.py
  integration_tests/web/test_issue_378.py
  integration_tests/web/test_issue_480.py
  integration_tests/web/test_issue_560.py
  integration_tests/web/test_web_client.py
  slack/rtm/client.py
  slack/web/__init__.py
  slack/web/base_client.py
  slack/web/slack_response.py
  tests/helpers.py
  tests/rtm/mock_web_api_server.py
  tests/rtm/test_rtm_client.py
  tests/rtm/test_rtm_client_functional.py
  tests/web/mock_web_api_server.py
  tests/web/test_web_client.py
  tests/web/test_web_client_coverage.py
  tests/web/test_web_client_functional.py
Labels: Priority: High, Version: 2x, area:concurrency, bug, rtm-client, semver:minor, web-client

#686 Add SignatureVerifier for request verification
  slack/signature/__init__.py
  slack/signature/verifier.py
  slack/web/base_client.py
  tests/signature/test_signature_verifier.py
Labels: Version: 2x, enhancement, v2.6 in-progress

#688 Additional improvements for #686 and document updates
  docs-src/basic_usage.rst
  integration_tests/samples/basic_usage/views.py
  slack/signature/verifier.py
  tests/signature/test_signature_verifier.py
Labels: Version: 2x, enhancement, v2.6 in-progress

#687 Add v2.6.0rc1 release note
  docs-src/changelog.rst
Labels: docs

#652 Update oauth_v2_access to include redirect_uri
  slack/web/client.py
Labels: Version: 2x, enhancement, web-client

#689 Add more validation rules for view construction (thanks to feedback in #519)
  integration_tests/samples/basic_usage/views_2.py
  slack/web/classes/views.py
  slack/web/client.py
  tests/web/classes/test_views.py
  tests/web/test_web_client_coverage.py
Labels: Version: 2x, enhancement, v2.6 in-progress, web-client

#691 Fix #690 by adding basic auth handling in the new sync client
  integration_tests/samples/issues/issue_690.py
  slack/web/base_client.py
  tests/web/mock_web_api_server.py
  tests/web/test_web_client.py
Labels: Version: 2x, bug, v2.6 in-progress, web-client

#693 Fix #692 superfluous_charset warnings
  slack/web/base_client.py
Labels: Version: 2x, bug, v2.6 in-progress, web-client

#694 Fix #614 by adding more documents
  .appveyor.yml
  docs-src/basic_usage.rst
  docs/basic_usage.html
  docs/genindex.html
  docs/index.html
  docs/search.html
  docs/searchindex.js
  integration_tests/samples/basic_usage/calling_any_api_methods.py
Labels: docs, v2.6 in-progress

#698 Update FAQ for #697 and common installation issues
  docs-src/auth.rst
  docs-src/faq.rst
  docs/auth.html
  docs/basic_usage.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/search.html
  docs/searchindex.js
Labels: Version: 2x, docs, v2.6 in-progress

#699 Add style to confirm in a block element
  slack/web/classes/objects.py
  tests/web/classes/test_objects.py
Labels: Version: 2x, enhancement, v2.6 in-progress, web-client

#700 version 2.6.0 release
  docs-src/changelog.rst
  docs/auth.html
  docs/changelog.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x, docs, v2.6 in-progress

#702 Fix #701 by reverting the change for simultaneous request handling
  .deepsource.toml
  integration_tests/rtm/test_issue_558.py
  integration_tests/rtm/test_issue_701.py
  slack/rtm/client.py
Labels: Version: 2x, area:concurrency, bug, rtm-client

#706 Fix #705 by modifying SlackResponse to consider None value in dict
  slack/web/slack_response.py
  tests/web/test_web_client.py
Labels: Version: 2x, bug, semver:patch, web-client

#703 Fix a typo in 03-responding-to-slack-events.md
  tutorial/03-responding-to-slack-events.md
Labels: docs
