Repository slackapi/python-slack-sdk, pull requests merged in 2020-07, with the labels that each got.

#727 Fix #645 Unclosed client session
  slack/web/base_client.py
  tests/web/test_web_client.py
Labels: Version: 2x, bug, web-client

#745 DatePickerElement - initial date. Fixed regex error, so it can accept 10 and 20 for day value now.
  slack/web/classes/elements.py
  tests/web/classes/test_elements.py
Labels: Version: 2x, bug, semver:patch

#742 Update views.open document to be clearer
  docs-src/basic_usage.rst
  docs/basic_usage.html
  docs/searchindex.js
  integration_tests/samples/basic_usage/views.py
  integration_tests/samples/basic_usage/views_2.py
  integration_tests/samples/basic_usage/views_default_to_current_conversation.py
Labels: Version: 2x, docs, web-client

#749 Fix #746 by updating the RTM document page and README
  README.md
  docs-src/real_time_messaging.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
Labels: docs

#748 Update GitHub Pages
  README.md
  docs-src/basic_usage.rst
  docs-src/real_time_messaging.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  integration_tests/samples/basic_usage/views.py
  integration_tests/samples/basic_usage/views_2.py
  integration_tests/samples/basic_usage/views_default_to_current_conversation.py
  slack/web/classes/elements.py
  tests/web/classes/test_elements.py
  tutorial/01-creating-the-slack-app.md
Labels: docs

#751 Fix #718 by handling unexpected response body format
  slack/web/base_client.py
  tests/web/mock_web_api_server.py
  tests/web/test_web_client.py
Labels: Version: 2x, enhancement, web-client

#752 Fix #733 Better error handling when getting TimeoutError in RTMClient#start()
  slack/rtm/client.py
Labels: Version: 2x, bug, rtm-client

#754 Issue-729 admin conversations restrict access API
  integration_tests/web/test_admin_conversations_restrictAccess.py
  slack/web/base_client.py
  slack/web/client.py
  tests/web/test_web_client_coverage.py
Labels: enhancement, semver:minor, web-client

#758 Add admin.usergroups.addTeams, calls.participants.remove API #757
  integration_tests/web/test_admin_usergroups.py
  integration_tests/web/test_calls.py
  slack/web/client.py
  tests/web/test_web_client_coverage.py
Labels: Version: 2x, enhancement, web-client

#755 version 2.7.3
  docs-src/changelog.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x

#760 Website deployment - v2.7.3
  .github/maintainers_guide.md
  docs-src/changelog.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  integration_tests/web/test_admin_conversations_restrictAccess.py
  integration_tests/web/test_admin_usergroups.py
  integration_tests/web/test_calls.py
  slack/rtm/client.py
  slack/version.py
  slack/web/base_client.py
  slack/web/client.py
  tests/web/mock_web_api_server.py
  tests/web/test_web_client.py
  tests/web/test_web_client_coverage.py
Labels: docs

#759 Adjust DeepSource configuration
  .deepsource.toml
  slack/errors.py
  slack/rtm/client.py
  slack/signature/verifier.py
  slack/web/base_client.py
  slack/web/classes/__init__.py
  slack/web/classes/actions.py
  slack/web/classes/attachments.py
  slack/web/classes/blocks.py
  slack/web/classes/dialog_elements.py
  slack/web/classes/dialogs.py
  slack/web/classes/elements.py
  slack/web/classes/interactions.py
  slack/web/classes/messages.py
  slack/web/classes/objects.py
  slack/web/classes/views.py
  slack/web/client.py
  slack/web/slack_response.py
  slack/webhook/client.py
Labels: tests
