Repository slackapi/python-slack-sdk, pull requests merged in 2020-08, with the labels that each got.

#768 [Fix #767] Add header block support
  slack/web/classes/blocks.py
  tests/web/classes/test_blocks.py
Labels: enhancement, web-client

#771 Fix #770 by adding bytes type param support
  integration_tests/web/test_issue_770.py
  slack/web/base_client.py
Labels: Version: 2x, bug, web-client

#775 Correct Block.parse(dict) to support CallBlock
  slack/web/classes/blocks.py
  tests/web/classes/test_blocks.py
Labels: Version: 2x, bug

#773 Fix #769 by supporting prefix/suffix for User-Agent
  slack/web/__init__.py
  slack/web/async_base_client.py
  slack/web/async_internal_utils.py
  slack/web/base_client.py
  slack/webhook/async_client.py
  slack/webhook/client.py
  slack/webhook/internal_utils.py
  tests/web/mock_web_api_server.py
  tests/web/test_async_web_client.py
  tests/web/test_web_client.py
  tests/webhook/mock_web_api_server.py
  tests/webhook/test_async_webhook.py
  tests/webhook/test_webhook.py
Labels: Version: 2x, enhancement, web-client

#772 Revise the templates in .github
  .github/ISSUE_TEMPLATE/01_question.md
  .github/ISSUE_TEMPLATE/02_enhancement.md
  .github/ISSUE_TEMPLATE/03_document.md
  .github/ISSUE_TEMPLATE/04_bug.md
  .github/contributing.md
  .github/issue_template.md
  .github/maintainers_guide.md
  .github/pull_request_template.md
Labels: discussion, docs

#774 version 2.8.0 release
  docs-src/auth.rst
  docs-src/basic_usage.rst
  docs-src/changelog.rst
  docs-src/faq.rst
  docs-src/real_time_messaging.rst
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/objects.inv
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  setup.py
  slack/version.py
Labels: Version: 2x, web-client

#779 Adding support for View objects for views.push/update/publish
  slack/web/async_client.py
  slack/web/client.py
Labels: Version: 2x, enhancement, web-client

#787 version 2.8.1 release
  docs-src/changelog.rst
  docs/.buildinfo
  docs/_static/basic.css
  docs/_static/classic.css
  docs/_static/documentation_options.js
  docs/_static/jquery-3.5.1.js
  docs/_static/jquery.js
  docs/_static/searchtools.js
  docs/about.html
  docs/auth.html
  docs/basic_usage.html
  docs/changelog.html
  docs/conversations.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/metadata.html
  docs/objects.inv
  docs/real_time_messaging.html
  docs/search.html
  docs/searchindex.js
  slack/version.py
Labels: Version: 2x
