Repository slackapi/python-slack-sdk, pull requests merged in 2020-11, with the labels that each got.

#869 Fix #868 by changing List type hints to Sequence
  integration_tests/samples/issues/issue_868.py
  slack_sdk/models/__init__.py
  slack_sdk/models/attachments/__init__.py
  slack_sdk/models/blocks/basic_components.py
  slack_sdk/models/blocks/block_elements.py
  slack_sdk/models/blocks/blocks.py
  slack_sdk/models/dialoags/__init__.py
  slack_sdk/models/messages/message.py
  slack_sdk/models/views/__init__.py
  slack_sdk/oauth/authorize_url_generator/__init__.py
  slack_sdk/oauth/installation_store/models/bot.py
  slack_sdk/oauth/installation_store/models/installation.py
  slack_sdk/oauth/state_utils/__init__.py
  slack_sdk/rtm/__init__.py
  slack_sdk/web/async_client.py
  slack_sdk/web/async_internal_utils.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_client.py
  slack_sdk/webhook/async_client.py
  slack_sdk/webhook/client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: Version: 3x, enhancement, oauth, rtm-client, semver:major, web-client

#865 Add two admin APIs with binary response support
  .deepsource.toml
  integration_tests/web/test_admin_analytics.py
  slack_sdk/web/async_client.py
  slack_sdk/web/async_internal_utils.py
  slack_sdk/web/async_slack_response.py
  slack_sdk/web/base_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_base_client.py
  slack_sdk/web/legacy_client.py
  slack_sdk/web/legacy_slack_response.py
  slack_sdk/web/slack_response.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: Version: 3x, enhancement, web-client

#870 version 3.0.0rc2
  slack_sdk/version.py
Labels: Version: 3x

#871 Enable additional data on state creation
  slack_sdk/oauth/state_store/state_store.py
Labels: Version: 3x, enhancement, oauth

#872 Addition to #871: AsyncOAuthStateStore and built-in implementations
  scripts/run_validation.sh
  setup.py
  slack_sdk/oauth/state_store/amazon_s3/__init__.py
  slack_sdk/oauth/state_store/async_state_store.py
  slack_sdk/oauth/state_store/file/__init__.py
  slack_sdk/oauth/state_store/sqlalchemy/__init__.py
  slack_sdk/oauth/state_store/sqlite3/__init__.py
  tests/slack_sdk/oauth/state_store/test_file.py
Labels: Version: 3x, enhancement, oauth

#873 version 3.0.0
  docs-src-v2/_themes/slack/conf.py
  docs-src-v2/_themes/slack/layout.html
  docs-src-v2/changelog.rst
  docs-src-v2/metadata.rst
  docs-v2/.buildinfo
  docs-v2/about.html
  docs-v2/auth.html
  docs-v2/basic_usage.html
  docs-v2/changelog.html
  docs-v2/conversations.html
  docs-v2/faq.html
  docs-v2/genindex.html
  docs-v2/index.html
  docs-v2/metadata.html
  docs-v2/objects.inv
  docs-v2/real_time_messaging.html
  docs-v2/search.html
  docs-v2/searchindex.js
  slack_sdk/version.py
Labels: Version: 3x

#875 docs: Fix simple typo, niether -> neither
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: untriaged

#881 to: feat-org-apps - Add find_installation support in #877
  slack_sdk/oauth/installation_store/amazon_s3/__init__.py
  slack_sdk/oauth/installation_store/async_cacheable_installation_store.py
  slack_sdk/oauth/installation_store/async_installation_store.py
  slack_sdk/oauth/installation_store/cacheable_installation_store.py
  slack_sdk/oauth/installation_store/file/__init__.py
  slack_sdk/oauth/installation_store/installation_store.py
  slack_sdk/oauth/installation_store/models/bot.py
  slack_sdk/oauth/installation_store/models/installation.py
  slack_sdk/oauth/installation_store/sqlalchemy/__init__.py
  slack_sdk/oauth/installation_store/sqlite3/__init__.py
  tests/slack_sdk/oauth/installation_store/test_file.py
  tests/slack_sdk/oauth/installation_store/test_sqlalchemy.py
  tests/slack_sdk/oauth/installation_store/test_sqlite3.py
Labels: Version: 3x, enhancement, oauth
