Repository slackapi/python-slack-sdk, pull requests merged in 2021-08, with the labels that each got.

#1079 Fix #1078 Add Sign in with Slack (OpenID Connect) support
  integration_tests/samples/openid_connect/app_manifest.yml
  integration_tests/samples/openid_connect/flask_example.py
  integration_tests/samples/openid_connect/requirements.txt
  integration_tests/samples/openid_connect/sanic_example.py
  slack_sdk/oauth/__init__.py
  slack_sdk/oauth/authorize_url_generator/__init__.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: Version: 3x, enhancement, oauth, web-client

#1081 Add more tests & fix a data deletion bug in AmazonS3InstallationStore
  setup.py
  slack_sdk/errors/__init__.py
  slack_sdk/oauth/installation_store/amazon_s3/__init__.py
  tests/slack_sdk/audit_logs/mock_web_api_server.py
  tests/slack_sdk/audit_logs/test_client.py
  tests/slack_sdk/oauth/installation_store/test_amazon_s3.py
  tests/slack_sdk/oauth/state_store/test_amazon_s3.py
Labels: bug, Version: 3x, oauth

#1085 Add explicit arguments for files_info
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: enhancement, web-client, Version: 3x

#1084 Fix #887 Enable automatic retry by a handy way
  integration_tests/webhook/test_webhook.py
  slack_sdk/audit_logs/v1/async_client.py
  slack_sdk/audit_logs/v1/client.py
  slack_sdk/http_retry/__init__.py
  slack_sdk/http_retry/async_handler.py
  slack_sdk/http_retry/builtin_async_handlers.py
  slack_sdk/http_retry/builtin_handlers.py
  slack_sdk/http_retry/builtin_interval_calculators.py
  slack_sdk/http_retry/handler.py
  slack_sdk/http_retry/interval_calculator.py
  slack_sdk/http_retry/jitter.py
  slack_sdk/http_retry/request.py
  slack_sdk/http_retry/response.py
  slack_sdk/http_retry/state.py
  slack_sdk/scim/v1/async_client.py
  slack_sdk/scim/v1/client.py
  slack_sdk/web/async_base_client.py
  slack_sdk/web/async_internal_utils.py
  slack_sdk/web/base_client.py
  slack_sdk/webhook/async_client.py
  slack_sdk/webhook/client.py
  tests/slack_sdk/audit_logs/mock_web_api_server.py
  tests/slack_sdk/audit_logs/test_client_http_retry.py
  tests/slack_sdk/http_retry/__init__.py
  tests/slack_sdk/http_retry/test_builtins.py
  tests/slack_sdk/my_retry_handler.py
  tests/slack_sdk/scim/mock_web_api_server.py
  tests/slack_sdk/scim/test_client_http_retry.py
  tests/slack_sdk/web/mock_web_api_server.py
  tests/slack_sdk/web/mock_web_api_server_http_retry.py
  tests/slack_sdk/web/test_web_client.py
  tests/slack_sdk/web/test_web_client_http_retry.py
  tests/slack_sdk/web/test_web_client_http_retry_connection.py
  tests/slack_sdk/web/test_web_client_http_retry_ratelimited.py
  tests/slack_sdk/web/test_web_client_http_retry_server_error.py
  tests/slack_sdk/webhook/mock_web_api_server.py
  tests/slack_sdk/webhook/test_webhook_http_retry.py
  tests/slack_sdk_async/audit_logs/test_async_client_http_retry.py
  tests/slack_sdk_async/my_retry_handler.py
  tests/slack_sdk_async/scim/test_async_client_http_retry.py
  tests/slack_sdk_async/web/test_async_web_client.py
  tests/slack_sdk_async/web/test_async_web_client_http_retry.py
  tests/slack_sdk_async/web/test_web_client_http_retry.py
  tests/slack_sdk_async/webhook/test_async_webhook_http_retry.py
  tests/slack_sdk_fixture/web_response_rate_limited_only_once.json
  tests/web/mock_web_api_server.py
  tests/web/test_async_web_client.py
  tests/web/test_web_client.py
Labels: enhancement, web-client, Version: 3x, scim-client, audit-logs-client

#1089 Add Slack connect API support + tests
  integration_tests/env_variable_names.py
  integration_tests/web/test_conversations_connect.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, Version: 3x

#1091 Fix #1055 Socket Mode: ENOTSOCK every 300 minutes on Windows
  slack_sdk/socket_mode/builtin/internals.py
Labels: Version: 3x, socket-mode

#1092 Improve #1084 by removing globally mutable lists
  slack_sdk/audit_logs/v1/async_client.py
  slack_sdk/audit_logs/v1/client.py
  slack_sdk/http_retry/__init__.py
  slack_sdk/http_retry/builtin_async_handlers.py
  slack_sdk/scim/v1/async_client.py
  slack_sdk/scim/v1/client.py
  slack_sdk/web/async_base_client.py
  slack_sdk/web/base_client.py
  slack_sdk/webhook/async_client.py
  slack_sdk/webhook/client.py
  tests/slack_sdk/http_retry/test_builtins.py
  tests/slack_sdk_async/http_retry/__init__.py
  tests/slack_sdk_async/http_retry/test_builtins.py
Labels: bug, web-client, Version: 3x, scim-client, audit-logs-client

#1093 Improve #1092 #1084 by removing mutable method default arguments
  slack_sdk/audit_logs/v1/async_client.py
  slack_sdk/audit_logs/v1/client.py
  slack_sdk/http_retry/builtin_handlers.py
  slack_sdk/scim/v1/async_client.py
  slack_sdk/scim/v1/client.py
  slack_sdk/web/async_base_client.py
  slack_sdk/web/base_client.py
  slack_sdk/webhook/async_client.py
  slack_sdk/webhook/client.py
  tests/slack_sdk/audit_logs/test_client_http_retry.py
  tests/slack_sdk/scim/test_client_http_retry.py
  tests/slack_sdk/web/test_web_client_http_retry.py
  tests/slack_sdk/web/test_web_client_http_retry_ratelimited.py
  tests/slack_sdk/webhook/test_webhook_http_retry.py
Labels: bug, web-client, Version: 3x, scim-client, audit-logs-client

#1087 Update the documents for v3.9 release
  docs-src/audit-logs/index.rst
  docs-src/index.rst
  docs-src/oauth/index.rst
  docs-src/scim/index.rst
  docs-src/web/index.rst
  docs-src/webhook/index.rst
  docs/about.html
  docs/audit-logs/index.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/installation/index.html
  docs/metadata.html
  docs/oauth/index.html
  docs/real_time_messaging.html
  docs/scim/index.html
  docs/search.html
  docs/searchindex.js
  docs/socket-mode/index.html
  docs/v3-migration/index.html
  docs/web/index.html
  docs/webhook/index.html
Labels: docs, web-client, Version: 3x, oauth, scim-client, audit-logs-client

#1083 Fix #1082 by ignoring proxy parameter if env parameter is set but empty
  slack_sdk/proxy_env_variable_loader.py
  tests/test_proxy_env_variable_loader.py
Labels: enhancement, web-client, Version: 3x

#1094 Improve #1084 to run rate limited error retry handler correctly
  integration_tests/web/test_admin_rate_limit_retries.py
  slack_sdk/http_retry/builtin_async_handlers.py
  slack_sdk/http_retry/builtin_handlers.py
  slack_sdk/http_retry/response.py
  slack_sdk/web/async_internal_utils.py
  slack_sdk/web/base_client.py
  slack_sdk/web/slack_response.py
Labels: web-client, Version: 3x

#1096 Fix #1095 by correcting ContextBlock element type hint
  slack_sdk/models/blocks/blocks.py
Labels: bug, web-client, Version: 3x

#1097 Fix #1056 by changing the default type for Option values
  slack_sdk/models/blocks/basic_components.py
  tests/slack_sdk/models/test_options.py
Labels: bug, web-client, Version: 3x

#1103 Fix #1100 by improving the get/__getitem__ method behavior when response body is empty
  slack/web/async_slack_response.py
  slack_sdk/web/async_slack_response.py
  slack_sdk/web/slack_response.py
  tests/slack_sdk/web/test_slack_response.py
  tests/slack_sdk_async/web/test_async_slack_response.py
Labels: bug, web-client, Version: 3x

#1104 Fix #1102 Add __contains__ method in slack_sdk.web.SlackResponse / AsyncSlackResponse
  slack/web/async_slack_response.py
  slack_sdk/web/async_slack_response.py
  slack_sdk/web/slack_response.py
  tests/slack_sdk/web/test_slack_response.py
  tests/slack_sdk_async/web/test_async_slack_response.py
Labels: enhancement, web-client, Version: 3x

#1099 Fix #1018 Add optional arguments in WebClient methods
  slack_sdk/web/async_client.py
  slack_sdk/web/async_slack_response.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_client.py
  slack_sdk/web/slack_response.py
  tests/rtm/test_rtm_client_v2.py
  tests/slack_sdk/rtm_v2/test_rtm_v2.py
  tests/slack_sdk_async/web/test_async_web_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
  tests/slack_sdk_async/web/test_web_client_issue_829.py
  tests/web/test_async_web_client.py
Labels: enhancement, web-client, Version: 3x
