Repository slackapi/python-slack-sdk, pull requests merged in 2021-02, with the labels that each got.

#942 Fix #893 Add support for admin.barriers.* API methods
  integration_tests/env_variable_names.py
  integration_tests/web/test_admin_barriers.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: Version: 3x, enhancement, web-client

#933 Fix #932 RTMClient v2: no aiohttp dependency, more reliable implementation
  integration_tests/samples/rtm_v2/rtm_v2_app.py
  slack_sdk/rtm/v2/__init__.py
  slack_sdk/socket_mode/builtin/connection.py
  tests/rtm/test_rtm_client_v2.py
Labels: Version: 3x, enhancement, rtm-client, semver:minor

#940 Fix #437 Add SCIM API Support
  integration_tests/samples/scim/search_groups.py
  integration_tests/samples/scim/search_groups_async.py
  integration_tests/samples/scim/search_users.py
  integration_tests/scim/test_scim_client_read.py
  integration_tests/scim/test_scim_client_write.py
  slack_sdk/scim/__init__.py
  slack_sdk/scim/async_client.py
  slack_sdk/scim/v1/__init__.py
  slack_sdk/scim/v1/async_client.py
  slack_sdk/scim/v1/client.py
  slack_sdk/scim/v1/default_arg.py
  slack_sdk/scim/v1/group.py
  slack_sdk/scim/v1/internal_utils.py
  slack_sdk/scim/v1/response.py
  slack_sdk/scim/v1/types.py
  slack_sdk/scim/v1/user.py
  tests/slack_sdk/scim/__init__.py
  tests/slack_sdk/scim/mock_web_api_server.py
  tests/slack_sdk/scim/test_client.py
  tests/slack_sdk/scim/test_internals.py
  tests/slack_sdk/socket_mode/mock_socket_mode_server.py
  tests/slack_sdk_async/scim/__init__.py
  tests/slack_sdk_async/scim/test_async_client.py
Labels: Version: 3x, enhancement

#944 Add unknown kwargs in SCIM / Audit Logs clients
  slack_sdk/audit_logs/v1/logs.py
  slack_sdk/scim/v1/group.py
  slack_sdk/scim/v1/internal_utils.py
  slack_sdk/scim/v1/types.py
  slack_sdk/scim/v1/user.py
  tests/slack_sdk/audit_logs/test_response.py
  tests/slack_sdk/scim/test_internals.py
  tests/slack_sdk/scim/test_response.py
Labels: Version: 3x, audit-logs-client, bug, scim-client

#945 version 3.3.0 release
  slack_sdk/version.py
Labels: Version: 3x

#947 Enable to use snake_cased keys for dict arg in SCIMClient/AsyncSCIMClient
  integration_tests/scim/test_scim_client_write.py
  slack_sdk/scim/v1/internal_utils.py
Labels: Version: 3x, bug, scim-client

#949 Use self.current_session instead of inexistent self.connection
  slack_sdk/rtm/v2/__init__.py
Labels: Version: 3x, bug, rtm-client

#956 Improve WebClient document #955
  docs-src/web/index.rst
  docs/searchindex.js
  docs/web/index.html
Labels: Version: 3x, docs, web-client

#963 Add the browser version link in redirect_uri web page
  integration_tests/samples/oauth/oauth_v2.py
  integration_tests/samples/oauth/oauth_v2_async.py
  integration_tests/samples/oauth/oauth_v2_legacy.py
  slack_sdk/oauth/redirect_uri_page_renderer/__init__.py
Labels: Version: 3x, enhancement, oauth

#966 Improve validation of missing fallback text in payloads
  slack_sdk/web/internal_utils.py
Labels: Version: 3x, bug, web-client
