Repository slackapi/python-slack-sdk, pull requests merged in 2021-03, with the labels that each got.

#969 Add public_channel type support for admin.analytics.getFile API
  integration_tests/web/test_admin_analytics.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: Version: 3x, web-client

#972 Prevent breaking change when 'attachments' is a string.
  slack_sdk/web/internal_utils.py
  tests/slack_sdk/web/test_web_client_issue_971.py
Labels: Version: 3x, bug, web-client

#973 Add more comments to #972 changes and apply code formatter
  slack_sdk/web/internal_utils.py
  tests/slack_sdk/web/test_web_client_issue_971.py
Labels: Version: 3x, enhancement, web-client

#975 Update modal handling documents
  docs-src/web/index.rst
  docs/searchindex.js
  docs/web/index.html
  integration_tests/samples/basic_usage/views.py
  integration_tests/samples/basic_usage/views_2.py
  integration_tests/samples/basic_usage/views_default_to_current_conversation.py
Labels: Version: 3x, docs, web-client

#979 Add fallback argument in BlockAttachment
  slack_sdk/models/attachments/__init__.py
  tests/web/classes/test_attachments.py
Labels: Version: 3x, bug, web-client

#981 Rewrite reStructuredText docstrings to use Google style
  slack/web/base_client.py
  slack/webhook/async_client.py
  slack/webhook/client.py
  slack_sdk/audit_logs/v1/async_client.py
  slack_sdk/audit_logs/v1/client.py
  slack_sdk/oauth/installation_store/async_cacheable_installation_store.py
  slack_sdk/oauth/installation_store/cacheable_installation_store.py
  slack_sdk/rtm/v2/__init__.py
  slack_sdk/scim/v1/async_client.py
  slack_sdk/scim/v1/client.py
  slack_sdk/socket_mode/builtin/internals.py
  slack_sdk/web/base_client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_base_client.py
  slack_sdk/webhook/async_client.py
  slack_sdk/webhook/client.py
Labels: Version: 3x, docs

#983 Add /api-docs in the website
  docs-src/audit-logs/index.rst
  docs-src/faq.rst
  docs-src/index.rst
  docs-src/oauth/index.rst
  docs-src/scim/index.rst
  docs-src/socket-mode/index.rst
  docs-src/web/index.rst
  docs-src/webhook/index.rst
  scripts/generate_api_docs.sh
  slack_sdk/__init__.py
  slack_sdk/aiohttp_version_checker.py
  slack_sdk/audit_logs/__init__.py
  slack_sdk/audit_logs/v1/__init__.py
  slack_sdk/audit_logs/v1/async_client.py
  slack_sdk/audit_logs/v1/client.py
  slack_sdk/errors/__init__.py
  slack_sdk/models/__init__.py
  slack_sdk/oauth/__init__.py
  slack_sdk/oauth/installation_store/installation_store.py
  slack_sdk/oauth/state_store/__init__.py
  slack_sdk/proxy_env_variable_loader.py
  slack_sdk/scim/__init__.py
  slack_sdk/scim/v1/__init__.py
  slack_sdk/scim/v1/client.py
  slack_sdk/signature/__init__.py
  slack_sdk/socket_mode/__init__.py
  slack_sdk/socket_mode/aiohttp/__init__.py
  slack_sdk/socket_mode/builtin/client.py
  slack_sdk/socket_mode/websocket_client/__init__.py
  slack_sdk/socket_mode/websockets/__init__.py
  slack_sdk/version.py
  slack_sdk/web/__init__.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  slack_sdk/webhook/__init__.py
  slack_sdk/webhook/async_client.py
  slack_sdk/webhook/client.py
Labels: Version: 3x, docs

#984 Fix #982 Add admin.users.session.* API support
  integration_tests/web/test_admin_users_session_settings.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: Version: 3x, enhancement, web-client

#985 Improve error response body parser in WebClient
  slack_sdk/scim/v1/async_client.py
  slack_sdk/web/async_internal_utils.py
  slack_sdk/web/base_client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_base_client.py
  slack_sdk/webhook/async_client.py
  tests/slack_sdk/web/test_internal_utils.py
  tests/slack_sdk/web/test_web_client.py
  tests/slack_sdk/web/test_web_client_issue_829.py
  tests/web/test_web_client.py
  tests/web/test_web_client_issue_829.py
Labels: Version: 3x, enhancement, web-client
