Repository slackapi/python-slack-sdk, pull requests merged in 2021-07, with the labels that each got.

#1054 Fix #1053 by changing request body format to params
  integration_tests/web/test_issue_1053.py
  integration_tests/webhook/test_async_webhook.py
  integration_tests/webhook/test_webhook.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: Version: 3x, enhancement, web-client

#1061 Fix #1049 by correcting request body format and next_cursor extraction
  .gitignore
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_client.py
  slack_sdk/web/slack_response.py
  tests/slack_sdk/web/test_web_client_issue_1049.py
  tests/slack_sdk_fixture/web_response_admin_convo_pagination.json
  tests/slack_sdk_fixture/web_response_admin_convo_pagination_1.json
Labels: Version: 3x, bug, web-client

#1067 Fix #1065 by having lock for async Socket Mode client reconnection
  integration_tests/samples/socket_mode/aiohttp_example.py
  slack_sdk/socket_mode/aiohttp/__init__.py
  slack_sdk/socket_mode/async_client.py
  slack_sdk/socket_mode/websockets/__init__.py
Labels: Version: 3x, bug, socket-mode

#1071 Link to Contributor's Guide from README + expand Maintainer's Guide
  .github/contributing.md
  .github/maintainers_guide.md
  .travis.yml
  README.md
Labels: docs

#1072 Fix WebSocket related unit test failures
  setup.py
Labels: Version: 3x, socket-mode, tests

#1077 Fix the wrong column data size for bot_token in the built-in SQLAlchemy data model
  slack_sdk/oauth/installation_store/sqlalchemy/__init__.py
Labels: Version: 3x, bug, oauth

#1076 Update example code for rate limiting
  docs-src-v2/basic_usage.rst
  docs-src/web/index.rst
Labels: Version: 3x, docs, web-client
