Repository slackapi/python-slack-sdk, pull requests merged in 2021-06, with the labels that each got.

#1028 [#1027] Update websockets package version requirements
  setup.py
Labels: Version: 3x, semver:minor, socket-mode

#1029 Update Audit Logs API response properties
  slack_sdk/audit_logs/v1/logs.py
  tests/slack_sdk/audit_logs/test_response.py
Labels: Version: 3x, audit-logs-client, enhancement

#1032 Remove confusing warning messages #1030
  slack_sdk/models/blocks/block_elements.py
  tests/slack_sdk/models/test_elements.py
Labels: Version: 3x, web-client

#1034 Remove Dead Link From Readme
  README.md
Labels: Version: 3x, docs

#1035 IntervalRunner: don't wait for `interval_seconds` on shutdown
  slack_sdk/socket_mode/interval_runner.py
Labels: Version: 3x, enhancement, socket-mode

#1036 socket_mode Connection: Add support for IPv6
  slack_sdk/socket_mode/builtin/internals.py
Labels: Version: 3x, enhancement, socket-mode

#1039 Fix #1038 by adding admin.auth.policy.* API support
  integration_tests/env_variable_names.py
  integration_tests/web/test_admin_auth_policy.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: Version: 3x, enhancement, semver:minor, web-client

#1040 Set max length for string columns in SQLAlchemy models for MySQL compatibility
  slack_sdk/oauth/installation_store/sqlalchemy/__init__.py
  slack_sdk/oauth/state_store/sqlalchemy/__init__.py
Labels: Version: 3x, enhancement, oauth

#1044 Updates PythOnBoardingBot tutorial sample to use bolt-python
  tutorial/03-responding-to-slack-events.md
  tutorial/PythOnBoardingBot/app.py
  tutorial/PythOnBoardingBot/requirements.txt
Labels: Version: 3x, area:examples, docs

#1048 Update command in maintainers guide
  .github/maintainers_guide.md
Labels: Version: 3x, bug, tests

#1047 Make WebhookClient (sync/async) #send method accept link unfurl params
  integration_tests/webhook/test_async_webhook.py
  integration_tests/webhook/test_webhook.py
  slack_sdk/webhook/async_client.py
  slack_sdk/webhook/client.py
  slack_sdk/webhook/internal_utils.py
  tests/webhook/test_async_webhook.py
  tests/webhook/test_webhook.py
Labels: Version: 3x, enhancement, web-client
