Repository slackapi/python-slack-sdk, pull requests merged in 2021-09, with the labels that each got.

#1109 Fix #1108 add support for admin.conversations retention
  integration_tests/web/test_admin_conversations_retention.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, web-client, Version: 3x

#1112 Fix #1110 Socket Mode disconnection issue with the aiohttp-based client
  integration_tests/samples/socket_mode/aiohttp_example.py
  slack_sdk/socket_mode/aiohttp/__init__.py
  slack_sdk/socket_mode/async_client.py
  slack_sdk/socket_mode/builtin/client.py
  slack_sdk/socket_mode/websocket_client/__init__.py
  slack_sdk/socket_mode/websockets/__init__.py
  tests/slack_sdk_async/socket_mode/test_aiohttp.py
  tests/slack_sdk_async/socket_mode/test_interactions_aiohttp.py
Labels: Version: 3x, socket-mode

#1113 Add missing properties in Audit Logs details data class
  slack_sdk/audit_logs/v1/logs.py
  tests/slack_sdk/audit_logs/test_response.py
Labels: enhancement, Version: 3x, audit-logs-client

#1115 Remove confusing warning from FileInstallationStore
  slack_sdk/oauth/installation_store/file/__init__.py
Labels: Version: 3x, oauth

#1114 Improve the stability of SocketModeClient implementations
  slack_sdk/socket_mode/aiohttp/__init__.py
  slack_sdk/socket_mode/builtin/client.py
  slack_sdk/socket_mode/builtin/connection.py
  slack_sdk/socket_mode/websocket_client/__init__.py
  slack_sdk/socket_mode/websockets/__init__.py
  tests/slack_sdk/socket_mode/test_interactions_builtin.py
  tests/slack_sdk/socket_mode/test_interactions_websocket_client.py
  tests/slack_sdk_async/socket_mode/test_interactions_aiohttp.py
  tests/slack_sdk_async/socket_mode/test_interactions_websockets.py
  tests/slack_sdk_async/socket_mode/test_websockets.py
Labels: bug, Version: 3x, socket-mode

#1117 asyncio-based Socket Mode client improvements
  .github/workflows/ci-build.yml
  slack_sdk/socket_mode/aiohttp/__init__.py
  slack_sdk/socket_mode/async_client.py
  slack_sdk/socket_mode/websockets/__init__.py
Labels: bug, Version: 3x, socket-mode

#1120 Change websockets imports to make it compatible with older versions
  slack_sdk/socket_mode/websockets/__init__.py
Labels: bug, Version: 3x, socket-mode
