Repository slackapi/python-slack-sdk, pull requests merged in 2021-12, with the labels that each got.

#1147 Add cursor parameter to Audit Logs API method
  integration_tests/audit_logs/test_pagination.py
  slack_sdk/audit_logs/v1/async_client.py
  slack_sdk/audit_logs/v1/client.py
  slack_sdk/audit_logs/v1/response.py
  tests/slack_sdk/audit_logs/mock_web_api_server.py
  tests/slack_sdk/audit_logs/test_client.py
  tests/slack_sdk_async/audit_logs/test_async_client.py
Labels: bug, Version: 3x, audit-logs-client

#1148 Fix #1143 Keep Retry-After header compatibility wit 2.x series
  integration_tests/web/test_issue_1143.py
  slack_sdk/audit_logs/v1/client.py
  slack_sdk/scim/v1/client.py
  slack_sdk/web/base_client.py
  slack_sdk/web/legacy_base_client.py
  slack_sdk/webhook/client.py
  tests/slack_sdk/scim/mock_web_api_server.py
  tests/slack_sdk/web/mock_web_api_server.py
  tests/slack_sdk/web/mock_web_api_server_http_retry.py
  tests/slack_sdk/web/test_web_client.py
  tests/slack_sdk/webhook/mock_web_api_server.py
  tests/slack_sdk_async/web/test_async_web_client.py
  tests/web/mock_web_api_server.py
  tests/web/test_async_web_client.py
  tests/web/test_web_client.py
Labels: bug, web-client, Version: 3x, scim-client, audit-logs-client

#1149 Upgrade black, flake8, and pytype
  .github/workflows/pytype.yml
  setup.py
Labels: enhancement, Version: 3x

#1151 [beta] Add support for Message Metadata and Subscribe in Slack API
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement
