Repository slackapi/python-slack-sdk, pull requests merged in 2022-07, with the labels that each got.

#1234 Fix return type annotation
  slack_sdk/oauth/token_rotation/async_rotator.py
Labels: bug, Version: 3x, oauth

#1235 Fix wrong type annotation
  slack_sdk/models/blocks/block_elements.py
Labels: enhancement, web-client, Version: 3x

#1237 Fix #1236 Add video block to Block Kit model classes
  slack_sdk/models/blocks/__init__.py
  slack_sdk/models/blocks/blocks.py
  tests/slack_sdk/models/test_blocks.py
Labels: enhancement, web-client, Version: 3x

#1241 Fix #1240 Update chat_unfurl to support source/unfurl_id parameters
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: bug, web-client, Version: 3x

#1246 rtm_v2 api spins in infinite loop under gevent
  slack_sdk/socket_mode/builtin/internals.py
Labels: bug, rtm-client, Version: 3x, socket-mode
