Repository slackapi/python-slack-sdk, pull requests merged in 2022-11, with the labels that each got.

#1294 Fix #1292 files_upload_v2 does not work with io.BytesIO file parameters
  integration_tests/web/test_files_upload_v2.py
  slack_sdk/web/internal_utils.py
Labels: bug, web-client, Version: 3x

#1288 Add datetimepicker, url, email, number block elements
  slack/web/classes/elements.py
  slack_sdk/models/blocks/__init__.py
  slack_sdk/models/blocks/block_elements.py
  tests/slack_sdk/models/test_elements.py
  tests/slack_sdk/socket_mode/mock_socket_mode_server.py
Labels: enhancement

#1301 Fix #1297 Building user_auth_blocks with slack_sdk.models class objects for chat.unfurl API call fails
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk/web/test_internal_utils.py
  tests/slack_sdk/web/test_web_client.py
  tests/slack_sdk_async/web/test_async_web_client.py
Labels: bug, web-client, Version: 3x

#1303 Fix #1302 by updating the warning logs in WebClient to be consistent with Node SDK
  slack_sdk/web/internal_utils.py
Labels: enhancement, web-client, Version: 3x

#1307 Fix #1304 ssl_context is not passed from async web_client to aiohttp socket client
  slack_sdk/socket_mode/aiohttp/__init__.py
Labels: bug, Version: 3x, socket-mode

#1308 Fix #1305 by fixing pagination with async for syntax
  integration_tests/web/test_issue_1305.py
  slack_sdk/web/async_slack_response.py
Labels: bug, web-client, Version: 3x, area:async
