Repository slackapi/python-slack-sdk, pull requests merged in 2022-10, with the labels that each got.

#1271 Add more revert to #1269
  slack_sdk/socket_mode/builtin/internals.py
Labels: bug, Version: 3x, socket-mode

#1272 Add files.upload v2 support
  docs-src-v2/basic_usage.rst
  integration_tests/web/test_files_upload_v2.py
  integration_tests/web/test_web_client.py
  setup.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, web-client, Version: 3x

#1278 Improve clarity of 'content' error message for files_upload_v2
  slack_sdk/web/internal_utils.py
Labels: bug, web-client, Version: 3x

#1281 Fix selected_option type hint
  slack_sdk/models/views/__init__.py
Labels: bug, web-client, Version: 3x

#1282 Add full_file_info_required to files_upload_v2 method
  integration_tests/web/test_files_upload_v2.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: enhancement, web-client, Version: 3x

#1284 Add Python 3.11 support
  .github/workflows/ci-build.yml
  setup.py
Labels: docs, Version: 3x

#1283 Improve typing when using 'get' on an API response
  slack_sdk/web/async_slack_response.py
  slack_sdk/web/slack_response.py
Labels: enhancement, web-client, Version: 3x
