Repository slackapi/python-slack-sdk, pull requests merged in 2022-01, with the labels that each got.

#1161 Add admin.apps.requests.cancel API method support
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, web-client, Version: 3x

#1152 Stop raising asyncio.CancelledError if the connection is already closed
  slack_sdk/socket_mode/async_client.py
Labels: Version: 3x, socket-mode

#1163 Fix #1160 Links in README don't render properly on PyPi project page
  README.md
Labels: bug, docs, Version: 3x
