Repository slackapi/python-slack-sdk, pull requests merged in 2022-02, with the labels that each got.

#1171 Fix #1170 Add TimePickerElement to BlockElement.parse
  slack_sdk/models/blocks/block_elements.py
Labels: bug, web-client, Version: 3x

#1172 Fix #1169 by Proxy-Authorization header generation
  integration_tests/samples/socket_mode/builtin_proxy_auth_example.py
  slack_sdk/socket_mode/builtin/internals.py
Labels: bug, Version: 3x, socket-mode

#1173 Fix a bug where some of the files.remote API parameters do not work since v3.10
  integration_tests/web/test_remote_file_replacement.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: bug, web-client, Version: 3x

#1174 Add admin.users.unsupportedVersions.export API support
  integration_tests/web/test_admin_users_unsupportedVersions_export.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, web-client, Version: 3x

#1177 Pass ssl_context from the web_client to the websocket
  slack_sdk/socket_mode/builtin/client.py
  slack_sdk/socket_mode/builtin/connection.py
  slack_sdk/socket_mode/builtin/internals.py
  tests/slack_sdk/socket_mode/test_builtin.py
Labels: bug, Version: 3x, socket-mode

#1179 version 3.15.0
  docs/assets/basic.css
  docs/assets/classic.css
  docs/assets/doctools.js
  docs/assets/language_data.js
  docs/assets/searchtools.js
  docs/assets/sidebar.js
  docs/oauth/index.html
  slack_sdk/version.py
Labels: semver:minor, web-client, Version: 3x

#1183 Fix #1178 text type hint in LinkButtonElement does not accept PlainTextObject/dict
  slack_sdk/models/blocks/block_elements.py
  tests/slack_sdk/models/test_elements.py
Labels: bug, web-client, Version: 3x

#1185 Fix #1184 Add exception handling for socket mode - BlockingIOError: Resource temporarily unavailable
  slack_sdk/socket_mode/builtin/client.py
  slack_sdk/socket_mode/builtin/connection.py
Labels: enhancement, Version: 3x, socket-mode

#1187 Add file_ids to chat.update parameters
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: bug, enhancement, web-client, Version: 3x
