Repository slackapi/python-slack-sdk, pull requests merged in 2022-06, with the labels that each got.

#1225 Updated maintainer_guide
  .github/maintainers_guide.md
Labels: docs

#1223 Improve the installation data queries to always return the latest bot token
  slack_sdk/oauth/installation_store/amazon_s3/__init__.py
  slack_sdk/oauth/installation_store/file/__init__.py
  slack_sdk/oauth/installation_store/sqlalchemy/__init__.py
  slack_sdk/oauth/installation_store/sqlite3/__init__.py
Labels: bug, Version: 3x, oauth

#1226 Upgrade pytype to the latest
  .github/workflows/pytype.yml
Labels: enhancement, Version: 3x

#1232 Fix #1230 "unpack requires a buffer of 2 bytes" error when we have many options / option groups
  slack_sdk/socket_mode/builtin/internals.py
  tests/slack_sdk/socket_mode/mock_socket_mode_server.py
  tests/slack_sdk/socket_mode/test_interactions_builtin.py
Labels: bug, Version: 3x, socket-mode
