Repository slackapi/python-slack-sdk, pull requests merged in 2022-09, with the labels that each got.

#1259 Fix #1258 Tuple value for blocks argument does not work for Web API calls
  slack_sdk/web/internal_utils.py
  tests/slack_sdk/web/test_internal_utils.py
Labels: bug, web-client, Version: 3x

#1262 Fix #1261 blocks/attachments as str for chat.* API calls should be clearly supported
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk/web/test_internal_utils.py
Labels: enhancement, web-client, Version: 3x

#1264 fix retry_handlers type in AsyncBaseClient
  slack_sdk/web/async_base_client.py
Labels: bug, web-client, Version: 3x, area:async

#1266 add selected_time (timepicker) to ViewStateValue class
  slack_sdk/models/views/__init__.py
Labels: bug, web-client, Version: 3x

#1270 Add include_all_metadata to conversations.replies API arguments
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: enhancement, web-client, Version: 3x

#1269 Adjust the logic added by #1246
  slack_sdk/socket_mode/builtin/internals.py
Labels: bug, Version: 3x, socket-mode
