Repository slackapi/python-slack-sdk, pull requests merged in 2022-05, with the labels that each got.

#1207 Add message metadata support
  integration_tests/web/test_message_metadata.py
  slack_sdk/models/metadata/__init__.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk/web/test_web_client.py
Labels: enhancement, web-client, Version: 3x

#1206 Fix #1200 Model to_dict doesn't handle tuple sequences
  slack_sdk/models/basic_objects.py
  tests/slack_sdk/models/test_elements.py
Labels: bug, web-client, Version: 3x

#1208 Tweaking warnings related to missing accessibility fields `text` and `fallback`
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk/web/test_web_client_issue_891.py
  tests/slack_sdk/web/test_web_client_issue_971.py
  tests/slack_sdk_async/web/test_web_client_issue_891.py
  tests/web/test_web_client_issue_891.py
Labels: enhancement, semver:patch, web-client, area:async

#1210 Fix #1209 Add __all__ to __init__.py
  .github/workflows/pytype.yml
  setup.py
  slack_sdk/__init__.py
  slack_sdk/audit_logs/__init__.py
  slack_sdk/audit_logs/async_client.py
  slack_sdk/audit_logs/v1/logs.py
  slack_sdk/http_retry/__init__.py
  slack_sdk/http_retry/async_handler.py
  slack_sdk/models/__init__.py
  slack_sdk/models/blocks/__init__.py
  slack_sdk/models/blocks/basic_components.py
  slack_sdk/models/dialoags.py
  slack_sdk/models/dialogs/__init__.py
  slack_sdk/oauth/__init__.py
  slack_sdk/oauth/authorize_url_generator/__init__.py
  slack_sdk/oauth/installation_store/__init__.py
  slack_sdk/oauth/installation_store/models/__init__.py
  slack_sdk/oauth/installation_store/models/bot.py
  slack_sdk/oauth/state_store/__init__.py
  slack_sdk/oauth/token_rotation/__init__.py
  slack_sdk/rtm/v2/__init__.py
  slack_sdk/scim/__init__.py
  slack_sdk/scim/async_client.py
  slack_sdk/socket_mode/__init__.py
  slack_sdk/socket_mode/builtin/__init__.py
  slack_sdk/web/__init__.py
  slack_sdk/web/async_base_client.py
  slack_sdk/webhook/__init__.py
  slack_sdk/webhook/webhook_response.py
Labels: enhancement, rtm-client, web-client, Version: 3x, oauth, socket-mode, scim-client, audit-logs-client

#1213 Adding the auth_teams_list method
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, semver:minor, web-client, area:async

#1215 Add more documentation around contructor parameters
  slack_sdk/web/async_base_client.py
  slack_sdk/web/async_client.py
  slack_sdk/web/base_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_base_client.py
  slack_sdk/web/legacy_client.py
Labels: docs

#1219 Fix #1218 - Reduce minimum number of overflow options
  slack_sdk/models/blocks/block_elements.py
Labels: bug, semver:patch, web-client, Version: 3x

#1220 Update documentation via doc generation scripts
  docs-v2/.buildinfo
  docs-v2/assets/basic.css
  docs-v2/assets/classic.css
  docs-v2/assets/doctools.js
  docs-v2/assets/documentation_options.js
  docs-v2/assets/language_data.js
  docs-v2/assets/searchtools.js
  docs-v2/assets/sidebar.js
  docs-v2/real_time_messaging.html
  docs-v2/searchindex.js
  docs/.buildinfo
  docs/about.html
  docs/assets/doctools.js
  docs/assets/documentation_options.js
  docs/assets/searchtools.js
  docs/audit-logs/index.html
  docs/faq.html
  docs/genindex.html
  docs/index.html
  docs/installation/index.html
  docs/metadata.html
  docs/oauth/index.html
  docs/real_time_messaging.html
  docs/scim/index.html
  docs/search.html
  docs/searchindex.js
  docs/socket-mode/index.html
  docs/v3-migration/index.html
  docs/web/index.html
  docs/webhook/index.html
Labels: docs
