Repository slackapi/python-slack-sdk, pull requests merged in 2023-11, with the labels that each got.

#1418 Add new arguments to admin.users.list API method
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: enhancement, web-client, Version: 3x

#1423 Fix #1421 Update SlackApiError exception handling for web client
  README.md
  slack_sdk/web/base_client.py
  tests/slack_sdk/web/test_web_client.py
  tests/slack_sdk/web/test_web_client_http_retry_server_error.py
  tests/slack_sdk/web/test_web_client_issue_829.py
Labels: bug, web-client, Version: 3x, cla:signed

#1425 Fix #1424 Add file input block element support
  slack_sdk/models/blocks/block_elements.py
  tests/slack_sdk/models/test_elements.py
Labels: enhancement, web-client, Version: 3x

#1430 Fix #1427 Add apps.manifest.* & tooling.tokens.rotate API support
  integration_tests/web/test_app_manifest.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, web-client, Version: 3x

#1431 Fix #1428 Add rich_text classes to slack_sdk.models module
  slack_sdk/models/blocks/__init__.py
  slack_sdk/models/blocks/block_elements.py
  slack_sdk/models/blocks/blocks.py
  tests/slack_sdk/models/test_blocks.py
Labels: enhancement, web-client, Version: 3x

#1432 Add functions.completeSuccess/Error APIs for remote functions
  integration_tests/web/test_admin_conversations_restrictAccess.py
  integration_tests/web/test_calls.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, web-client, Version: 3x

#1433 Add RichTextBlock to Block.parse() targets
  slack_sdk/models/blocks/blocks.py
  tests/slack_sdk/models/test_blocks.py
Labels: bug, web-client, Version: 3x

#1435 Enable testing for Python 3.12 and PyPy 3.10 on CI
  .github/workflows/ci-build.yml
  pytest.ini
  setup.py
  slack_sdk/oauth/installation_store/internals.py
  slack_sdk/oauth/installation_store/models/bot.py
  slack_sdk/oauth/installation_store/models/installation.py
  tests/slack_sdk/oauth/installation_store/test_internals.py
  tests/slack_sdk_async/socket_mode/test_interactions_websockets.py
Labels: tests, web-client, oauth, cla:signed
