Repository slackapi/python-slack-sdk, pull requests merged in 2023-02, with the labels that each got.

#1328 Fix file mode of README.md
  README.md
Labels: enhancement, Version: 3x

#1332 Fix #1322 Remove file_annotation parameter from chat_postMessage method
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: bug, web-client, Version: 3x

#1335 Fix #1327 OAuth module: SQLAlchemy v2 compatibility
  setup.py
  slack_sdk/oauth/installation_store/sqlalchemy/__init__.py
  slack_sdk/oauth/state_store/sqlalchemy/__init__.py
Labels: bug, Version: 3x, oauth

#1334 Fix #1333 Enable using RetryHandler for 200 OK response patterns
  integration_tests/web/test_admin_analytics.py
  integration_tests/web/test_issue_594.py
  slack_sdk/web/async_internal_utils.py
  slack_sdk/web/base_client.py
  tests/slack_sdk/audit_logs/test_client_http_retry.py
  tests/slack_sdk/fatal_error_retry_handler.py
  tests/slack_sdk/web/mock_web_api_server.py
  tests/slack_sdk/web/mock_web_api_server_http_retry.py
  tests/slack_sdk/web/test_web_client.py
  tests/slack_sdk/web/test_web_client_http_retry.py
  tests/slack_sdk/web/test_web_client_http_retry_ratelimited.py
  tests/slack_sdk_async/audit_logs/test_async_client_http_retry.py
  tests/slack_sdk_async/fatal_error_retry_handler.py
  tests/slack_sdk_async/web/test_async_web_client.py
  tests/slack_sdk_async/web/test_async_web_client_http_retry.py
  tests/slack_sdk_fixture/web_response_fatal_error_only_once.json
  tests/slack_sdk_fixture/web_response_ratelimited_only_once.json
  tests/web/mock_web_api_server.py
  tests/web/test_async_web_client.py
  tests/web/test_web_client.py
Labels: enhancement, web-client, Version: 3x
