Repository slackapi/python-slack-sdk, pull requests merged in 2024-11, with the labels that each got.

#1593 Fix #1592 by encoding aiohttp client session pings
  slack_sdk/socket_mode/aiohttp/__init__.py
Labels: bug, Version: 3x, socket-mode, cla:signed

#1594 add trailing slash to the end of the url
  slack_sdk/web/async_base_client.py
  slack_sdk/web/base_client.py
  slack_sdk/web/legacy_base_client.py
  tests/slack_sdk/web/test_web_client.py
Labels: enhancement, web-client, Version: 3x, cla:signed

#1600 tests: ensure consistent behavior around url format
  tests/slack_sdk/web/test_legacy_web_client_url_format.py
  tests/slack_sdk/web/test_web_client_url_format.py
  tests/slack_sdk_async/web/test_web_client_url_format.py
Labels: tests, web-client, Version: 3x
