Repository slackapi/python-slack-sdk, pull requests merged in 2024-09, with the labels that each got.

#1553 chore: group docusaurus dependencies
  .github/dependabot.yml
Labels: docs, dependency-side-issue

#1530 feat: add support for `conversations.requestShared` `approve`, `deny` & `list`
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: semver:minor, web-client, Version: 3x, area:async

#1556 Add interactivity_pointer as trigger_id alias to views.* APIs
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: enhancement, web-client, Version: 3x

#1558 version 3.32.0
  docs/static/api-docs/slack_sdk/index.html
  docs/static/api-docs/slack_sdk/models/blocks/block_elements.html
  docs/static/api-docs/slack_sdk/models/blocks/index.html
  docs/static/api-docs/slack_sdk/web/async_client.html
  docs/static/api-docs/slack_sdk/web/client.html
  docs/static/api-docs/slack_sdk/web/index.html
  docs/static/api-docs/slack_sdk/web/legacy_client.html
  slack_sdk/version.py
Labels: semver:minor, Version: 3x

#1560 Fix RichTextElementParts.Date.timestamp to be an int
  slack_sdk/models/blocks/block_elements.py
Labels: bug, web-client, Version: 3x, cla:signed

#1563 Add assistant.threads.* APIs
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, web-client, Version: 3x
