Repository slackapi/python-slack-sdk, pull requests merged in 2024-05, with the labels that each got.

#1493 Omit two websocket_client/websockets tests due to their instability on GitHub Actions
  .github/workflows/ci-build.yml
  tests/slack_sdk/socket_mode/test_interactions_builtin.py
  tests/slack_sdk/socket_mode/test_interactions_websocket_client.py
  tests/slack_sdk_async/socket_mode/test_interactions_aiohttp.py
  tests/slack_sdk_async/socket_mode/test_interactions_websockets.py
Labels: tests, Version: 3x

#1492 fix `RichTextElement.elements` items are never promoted to a proper Python object type
  slack_sdk/models/blocks/block_elements.py
  tests/slack_sdk/models/test_blocks.py
Labels: bug, web-client, Version: 3x, cla:signed

#1498 Fix #1496 Async client uses blocking call when uploading file with v2
  setup.py
  slack_sdk/web/async_base_client.py
  slack_sdk/web/async_client.py
  slack_sdk/web/async_internal_utils.py
  slack_sdk/web/base_client.py
  slack_sdk/web/client.py
  slack_sdk/web/file_upload_v2_result.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_base_client.py
  slack_sdk/web/legacy_client.py
Labels: bug, web-client, Version: 3x, area:async
