Repository slackapi/python-slack-sdk, pull requests merged in 2024-12, with the labels that each got.

#1609 SocketModeClient expose async event loop param
  slack_sdk/socket_mode/aiohttp/__init__.py
Labels: Version: 3x, socket-mode, area:async, cla:signed

#1613 fix: 'ClientConnection' object has no attribute 'closed'
  slack_sdk/socket_mode/websockets/__init__.py
Labels: bug, Version: 3x, socket-mode, area:async

#1615 chore: improve flaky tests
  tests/slack_sdk/socket_mode/mock_socket_mode_server.py
  tests/slack_sdk/socket_mode/test_interactions_builtin.py
  tests/slack_sdk/socket_mode/test_interactions_websocket_client.py
  tests/slack_sdk_async/socket_mode/test_interactions_aiohttp.py
  tests/slack_sdk_async/socket_mode/test_interactions_websockets.py
Labels: tests, socket-mode, area:async

#1614 chore: support python 3.13
  .github/workflows/ci-build.yml
  pyproject.toml
Labels: enhancement, semver:patch, Version: 3x

#1617 build: enable tests that are now stable
  .github/workflows/ci-build.yml
  tests/helpers.py
  tests/slack_sdk/socket_mode/test_interactions_websocket_client.py
Labels: tests, Version: 3x, socket-mode, area:async

#1623 health: move away from setup.py
  .github/ISSUE_TEMPLATE/01_question.md
  .github/ISSUE_TEMPLATE/04_bug.md
  .github/issue_template.md
  .github/workflows/ci-build.yml
  integration_tests/helpers.py
  integration_tests/web/test_issue_1143.py
  integration_tests/web/test_issue_770.py
  scripts/codegen.py
  scripts/run_integration_tests.sh
  scripts/run_unit_tests.sh
  scripts/run_validation.sh
  setup.py
  slack/web/async_client.py
  slack_sdk/web/async_client.py
  slack_sdk/web/legacy_client.py
Labels: enhancement, tests
