Repository slackapi/python-slack-sdk, pull requests merged in 2024-06, with the labels that each got.

#1504 fix: Add deprecation warnings to Steps from Apps methods
  slack_sdk/web/deprecation.py
  tests/slack_sdk/web/test_web_client_workflow_step_deprecation.py
Labels: web-client

#1485 Fix base url according to official documentation
  slack/web/async_base_client.py
  slack/web/async_internal_utils.py
  slack/web/base_client.py
  slack_sdk/rtm/__init__.py
  slack_sdk/web/async_base_client.py
  slack_sdk/web/async_client.py
  slack_sdk/web/base_client.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_base_client.py
  slack_sdk/web/legacy_client.py
  tests/rtm/test_rtm_client_v2.py
  tests/slack_sdk/rtm_v2/test_rtm_v2.py
Labels: semver:minor, web-client, Version: 3x, cla:signed

#1506 release: version 3.28.0
  docs/api-docs/slack_sdk/index.html
  docs/api-docs/slack_sdk/oauth/installation_store/file/index.html
  docs/api-docs/slack_sdk/oauth/installation_store/index.html
  docs/api-docs/slack_sdk/oauth/state_store/file/index.html
  docs/api-docs/slack_sdk/oauth/state_store/index.html
  docs/api-docs/slack_sdk/rtm/index.html
  docs/api-docs/slack_sdk/rtm/v2/index.html
  docs/api-docs/slack_sdk/rtm_v2/index.html
  docs/api-docs/slack_sdk/socket_mode/aiohttp/index.html
  docs/api-docs/slack_sdk/version.html
  docs/api-docs/slack_sdk/web/async_base_client.html
  docs/api-docs/slack_sdk/web/async_client.html
  docs/api-docs/slack_sdk/web/base_client.html
  docs/api-docs/slack_sdk/web/client.html
  docs/api-docs/slack_sdk/web/deprecation.html
  docs/api-docs/slack_sdk/web/index.html
  docs/api-docs/slack_sdk/web/internal_utils.html
  docs/api-docs/slack_sdk/web/legacy_base_client.html
  docs/api-docs/slack_sdk/web/legacy_client.html
  slack_sdk/version.py
Labels: semver:minor

#1507 fix: update release instructions in maintainers guide
  .github/maintainers_guide.md
Labels: docs

#1508 Add canvases APIs and users.discoverableContacts.lookup API
  integration_tests/web/test_canvases.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, web-client, Version: 3x

#1512 feat: add team.externalTeams.list
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: enhancement, web-client, Version: 3x

#1513 chore: align README pattern
  README.md
Labels: docs

#1514 chore(release): 3.30.0
  docs/api-docs/slack_sdk/index.html
  docs/api-docs/slack_sdk/oauth/installation_store/file/index.html
  docs/api-docs/slack_sdk/oauth/installation_store/index.html
  docs/api-docs/slack_sdk/oauth/state_store/file/index.html
  docs/api-docs/slack_sdk/oauth/state_store/index.html
  docs/api-docs/slack_sdk/web/async_client.html
  docs/api-docs/slack_sdk/web/client.html
  docs/api-docs/slack_sdk/web/index.html
  docs/api-docs/slack_sdk/web/legacy_client.html
  slack_sdk/version.py
Labels: Version: 3x

#1519 fix: redact `bot_access_tokens` from the debug logs of socket mode
  slack_sdk/socket_mode/builtin/client.py
  slack_sdk/socket_mode/logger/__init__.py
  slack_sdk/socket_mode/logger/messages.py
  slack_sdk/socket_mode/websocket_client/__init__.py
  slack_sdk/socket_mode/websockets/__init__.py
  tests/slack_sdk/socket_mode/logger/__init__.py
  tests/slack_sdk/socket_mode/logger/test_messages.py
Labels: Version: 3x, socket-mode
