Repository slackapi/python-slack-sdk, pull requests merged in 2025-09, with the labels that each got.

#1736 chore: clean up project based on 3.6 removal
  .github/dependabot.yml
  scripts/build_pypi_package.sh
  scripts/deploy_to_prod_pypi_org.sh
  scripts/deploy_to_test_pypi_org.sh
  scripts/generate_api_docs.sh
  scripts/run_integration_tests.sh
  scripts/run_mypy.sh
  scripts/run_unit_tests.sh
  scripts/run_validation.sh
  slack_sdk/oauth/installation_store/internals.py
  slack_sdk/scim/v1/internal_utils.py
  tests/slack_sdk/oauth/installation_store/test_internals.py
Labels: semver:minor, dependencies

#1746 feat(web-api): add loading_messages to assistant.threads.setStatus method
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: enhancement, semver:minor, web-client, Version: 3x

#1753 fix(web-client): update `thread_ts` to be required for `chat_startStream`
  docs/reference/index.html
  docs/reference/oauth/installation_store/file/index.html
  docs/reference/oauth/installation_store/index.html
  docs/reference/oauth/state_store/file/index.html
  docs/reference/oauth/state_store/index.html
  docs/reference/web/async_client.html
  docs/reference/web/client.html
  docs/reference/web/index.html
  docs/reference/web/legacy_client.html
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: bug, semver:patch, web-client, Version: 3x, area:async, python

#1754 fix(web): send structured values to "assistant.threads.setStatus" method using json content type
  docs/reference/index.html
  docs/reference/web/async_client.html
  docs/reference/web/client.html
  docs/reference/web/index.html
  docs/reference/web/legacy_client.html
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
Labels: bug, tests, semver:patch, web-client, area:async
