Repository slackapi/python-slack-sdk, pull requests merged in 2025-01, with the labels that each got.

#1632 Additional check for exceptions from aiohttp
  slack_sdk/socket_mode/aiohttp/__init__.py
Labels: bug, Version: 3x, socket-mode, area:async, cla:signed

#1635 Fix #1611 Add expand attribute to SectionBlock
  slack_sdk/models/blocks/blocks.py
  tests/slack_sdk/models/test_blocks.py
Labels: enhancement, web-client, Version: 3x

#1638 Fix #1636 Custom Values passed into correctly into Bot/Installation class when cloned during token rotation
  slack_sdk/oauth/installation_store/models/bot.py
  slack_sdk/oauth/installation_store/models/installation.py
  slack_sdk/oauth/token_rotation/async_rotator.py
  slack_sdk/oauth/token_rotation/rotator.py
  tests/slack_sdk/oauth/installation_store/test_models.py
  tests/slack_sdk/oauth/token_rotation/test_token_rotator.py
  tests/slack_sdk_async/oauth/token_rotation/test_token_rotator.py
Labels: bug, web-client, Version: 3x, oauth

#1633 feat: #1276 add Asyncio SQLAlchemy support
  requirements/testing.txt
  slack_sdk/oauth/installation_store/sqlalchemy/__init__.py
  slack_sdk/oauth/state_store/sqlalchemy/__init__.py
  tests/slack_sdk/oauth/installation_store/test_async_sqlalchemy.py
  tests/slack_sdk/oauth/state_store/test_async_sqlalchemy.py
Labels: enhancement, Version: 3x, oauth, area:async, cla:signed
