Repository slackapi/python-slack-sdk, pull requests merged in 2025-03, with the labels that each got.

#1664 fix: configure dependabot to group react deps
  .github/dependabot.yml
Labels: docs, dependency-side-issue, github_actions

#1670 fix: `channel_id` instead of `channel` in `files_upload_v2` documentation
  docs/content/tutorial/uploading-files.md
Labels: docs, web-client

#1672 docs: include packaging script steps in the maintainers guide
  .github/maintainers_guide.md
Labels: docs

#1656 Support pathlike objects in upload util
  integration_tests/web/test_files_upload_v2.py
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/internal_utils.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk/web/test_internal_utils.py
Labels: enhancement, semver:patch, web-client, cla:signed

#1671 feat: WebClient/AsyncWebClient expose logger property
  slack_sdk/web/async_base_client.py
  slack_sdk/web/base_client.py
  tests/slack_sdk/web/test_web_client_logger.py
  tests/slack_sdk_async/web/test_async_web_client_logger.py
Labels: semver:minor, web-client, area:async

#1677 health: publish test results to code cov
  .github/workflows/ci-build.yml
  .gitignore
Labels: tests, python
