Repository slackapi/python-slack-sdk, pull requests merged in 2025-10, with the labels that each got.

#1755 feat(web-api): add a chat stream method to the web client
  docs/reference/index.html
  docs/reference/web/async_chat_stream.html
  docs/reference/web/async_client.html
  docs/reference/web/chat_stream.html
  docs/reference/web/client.html
  docs/reference/web/index.html
  scripts/codegen.py
  slack_sdk/web/async_chat_stream.py
  slack_sdk/web/async_client.py
  slack_sdk/web/chat_stream.py
  slack_sdk/web/client.py
  tests/slack_sdk/web/test_chat_stream.py
  tests/slack_sdk_async/web/test_async_chat_stream.py
  tests/slack_sdk_fixture/web_response_chat_stream_test.json
  tests/slack_sdk_fixture/web_response_chat_stream_test_missing_ts.json
  tests/slack_sdk_fixture/web_response_chat_stream_test_token1.json
  tests/slack_sdk_fixture/web_response_chat_stream_test_token2.json
Labels: enhancement, semver:minor, web-client, Version: 3x, area:async

#1761 fix(web-api): remove unfurl arguments from chat.startStream method
  docs/reference/index.html
  docs/reference/web/async_client.html
  docs/reference/web/client.html
  docs/reference/web/index.html
  docs/reference/web/legacy_client.html
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: bug, semver:patch, web-client, Version: 3x, area:async

#1764 docs: adds ai apps docs
  docs/english/web.md
Labels: docs, semver:minor, Version: 3x

#1765 docs: fixes formatting error for ai apps docs
  docs/english/web.md
Labels: docs, semver:patch, web-client, Version: 3x

#1766 feat: add ai-enabled features text streaming methods, feedback blocks, and loading state
  docs/english/web.md
  docs/reference/index.html
  docs/reference/models/basic_objects.html
  docs/reference/models/blocks/basic_components.html
  docs/reference/models/blocks/block_elements.html
  docs/reference/models/blocks/blocks.html
  docs/reference/models/blocks/index.html
  docs/reference/models/index.html
  docs/reference/web/async_chat_stream.html
  docs/reference/web/async_client.html
  docs/reference/web/chat_stream.html
  docs/reference/web/client.html
  docs/reference/web/index.html
  docs/reference/web/legacy_client.html
  scripts/codegen.py
  slack_sdk/models/blocks/__init__.py
  slack_sdk/models/blocks/basic_components.py
  slack_sdk/models/blocks/block_elements.py
  slack_sdk/models/blocks/blocks.py
  slack_sdk/web/async_chat_stream.py
  slack_sdk/web/async_client.py
  slack_sdk/web/chat_stream.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
  tests/slack_sdk/models/test_blocks.py
  tests/slack_sdk/models/test_elements.py
  tests/slack_sdk/models/test_objects.py
  tests/slack_sdk/web/test_chat_stream.py
  tests/slack_sdk_async/web/test_async_chat_stream.py
  tests/slack_sdk_async/web/test_web_client_coverage.py
  tests/slack_sdk_fixture/web_response_chat_stream_test.json
  tests/slack_sdk_fixture/web_response_chat_stream_test_missing_ts.json
  tests/slack_sdk_fixture/web_response_chat_stream_test_token1.json
  tests/slack_sdk_fixture/web_response_chat_stream_test_token2.json
Labels: enhancement, docs, tests, semver:minor, web-client, Version: 3x, area:async
