Repository slackapi/python-slack-sdk, pull requests merged in 2025-02, with the labels that each got.

#1641 Add channels param to files.upload v2 method
  slack_sdk/web/async_client.py
  slack_sdk/web/client.py
  slack_sdk/web/legacy_client.py
Labels: enhancement, web-client, Version: 3x

#1648 Remove quotes from cookie value in OAuthStateUtils
  slack_sdk/oauth/state_utils/__init__.py
Labels: bug, Version: 3x, oauth, cla:signed

#1655 Fix max length for static option values
  slack_sdk/models/blocks/basic_components.py
Labels: enhancement, web-client, Version: 3x, cla:signed

#1659 Remove pytest-runner from build-system.requires
  pyproject.toml
Labels: tests, cla:signed
